<h1>All products</h1>
<% if @tag.present? %>
  <h6>
    Showing products tagged by
    <span class="badge badge-pill badge-primary">
      <%= @tag.name %>
    </span>
  </h6>
<% end %>
<% @products.each do |product|%>
<div>
    <h2>
    <%= link_to(product.title,product_path(product.id)) %>
    </h2>
    <p>
        <%= product.description%>
    </p>
    <small>
    $<%= format("%.2f",product.price) %>
    </small>
</div>
<hr />
<% end %>